:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #ffa9ec;
  --color-dark: #110707;
  --color-orange: #ffb017;
  --color-blue: #0169fd;
  --color-grey: #99a0a3;
}
.hl-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.hl-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.border-radius-0 {
  border-radius: 0 !important;
}
.radius-20 {
  border-radius: 20px;
}
.mw-650 {
  max-width: 550px;
}
.pt-150 {
  padding-top: 150px;
}
.pt-100 {
  padding-top: 100px;
}
.pb-150 {
  padding-bottom: 150px;
}
.pb-100 {
  padding-bottom: 100px;
}
.mt-150 {
  margin-top: 150px;
}
.mt-100 {
  margin-top: 100px;
}
.mb-150 {
  margin-bottom: 150px;
}
.mb-100 {
  margin-bottom: 100px;
}

// Font Weight
.fw-bold {
  font-weight: 700 !important;
}
.fw-semi-bold {
  font-weight: 600;
}

// Font Size
.size-80 {
  font-size: 80px;
}
.size-60 {
  font-size: 60px;
}
.size-64 {
  font-size: 64px;
}
.size-54 {
  font-size: 45px;
}
.size-50 {
  font-size: 50px;
}
.size-45 {
  font-size: 45px;
}
.size-40 {
  font-size: 40px;
}
.size-32 {
  font-size: 32px;
}
.size-30 {
  font-size: 30px;
}
.size-26 {
  font-size: 26px;
}
.size-20 {
  font-size: 20px;
  line-height: 33px;
}
.size-18 {
  font-size: 18px;
  line-height: 1.6;
}
.size-17 {
  font-size: 17px;
}
.size-16 {
  font-size: 16px;
}
.size-14 {
  font-size: 14px;
}
// Colors
.blue {
  color: var(--color-blue);
}
.orange {
  color: var(--color-orange);
}
.white {
  color: var(--color-white);
}
.black {
  color: var(--color-black);
}
.grey {
  color: var(--color-grey);
}

.bg-grey {
  background-color: #f4f7fc;
}

.bg-white {
  background-color: var(--color-white) !important;
}

// Others

.line-height-30 {
  line-height: 30px;
}

.hl-shadow {
  box-shadow: 0px 40px 60px 0px rgba(41, 45, 50, 0.1);
}
.hl-border {
  border: 1px solid var(--color-grey);
}

//
.hl-btn-arrow {
  font-size: 14px;
  color: var(--color-black);
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  white-space: nowrap;
  flex-shrink: 0;
  svg {
    margin-left: 24px;
  }
  &:hover {
    color: var(--color-blue);
    svg path {
      fill: var(--color-blue);
      stroke: var(--color-blue);
    }
  }
  &--white {
    color: var(--color-white);
    svg path,
    svg line {
      fill: var(--color-white);
      stroke: var(--color-white);
    }
    &:hover {
      color: var(--color-orange);
      svg path,
      svg line {
        fill: var(--color-orange);
        stroke: var(--color-orange);
      }
    }
  }
}
.hl-btn {
  border-radius: 8px;
  background: var(--color-orange);
  white-space: nowrap;
  height: 50px;
  min-width: 150px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 30px;
  color: var(--color-black);
  border: 2px solid var(--color-orange);
  transition: all 0.3s ease;
  text-transform: capitalize;
  flex-shrink: 0;
  &:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-black);
  }
  svg {
    width: 10px;
    height: 10px;
    margin-left: 8px;
  }
  &--shadow {
    box-shadow: 0px 4px 35px 0px rgba(252, 189, 1, 0.4);
  }
  &--border {
    background-color: transparent;
    color: var(--color-orange);
    &:hover {
      background-color: transparent;
      color: var(--color-black);
    }
  }
  &--blue {
    background-color: var(--color-blue);
    border-color: var(--color-blue);
    color: var(--color-white);
  }
  &--white {
    background-color: var(--color-white);
    border-color: var(--color-white);
    color: var(--color-black);
    &:hover {
      border-color: var(--color-white);
      background-color: transparent;
      color: var(--color-white);
    }
  }
  &--big {
    height: 60px;
    min-width: 200px;
    padding: 0 40px;
    border-radius: 13px;
  }
  &--blue-border {
    border-color: var(--color-blue);
    color: var(--color-blue);
    &:hover {
      border-color: var(--color-blue);
      background-color: var(--color-blue);
      color: var(--color-white);
      svg path {
        fill: var(--color-white);
      }
    }
  }
  &--black-border {
    border-color: var(--color-black);
    color: var(--color-black);
    &:hover {
      border-color: var(--color-orange);
      color: var(--color-orange);
    }
  }
  &--small {
    font-weight: 700;
    height: 40px;
    padding: 0 20px;
  }
}

//

.hl-tile {
  display: flex;
  position: relative;
  transition: all 0.3s ease-in-out;
  max-width: 700px;
  height: 100%;
  &__icon {
    width: 38px;
    height: 38px;
    margin-right: 35px;
    position: relative;
    z-index: 1;
    svg,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    svg path {
      fill: #99a0a3;
    }
  }
  &__content {
    position: relative;
    z-index: 1;
  }

  &--hover {
    &:hover {
      .grey {
        color: var(--color-black);
      }
      svg path {
        fill: var(--color-black);
      }
      &::after {
        content: "";
        background-color: var(--color-orange);
        position: absolute;
        left: -30px;
        width: calc(100% + 60px);
        top: -30px;
        height: calc(100% + 60px);
        border-radius: 30px;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  p {
    line-height: 30px;
  }
}

.hl-box {
  border-radius: 20px;
  padding: 50px;
  background-color: var(--color-white);
  max-width: 700px;
  &__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__icon {
    width: 38px;
    height: 38px;
    svg,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    svg path {
      fill: #99a0a3;
    }
  }
}

.hl-blue-box {
  background-color: var(--color-blue);
  padding: 40px;
  min-height: 200px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  &__wrapper {
    width: 100%;
  }
  .hl-btn {
    border-color: var(--color-white);
    color: var(--color-white);
    &:hover {
      background-color: var(--color-white);
      color: var(--color-black);
      svg path {
        fill: var(--color-black);
      }
    }
    svg path {
      fill: var(--color-white);
    }
  }
  &__right {
    max-width: 480px;
  }
  &__input-box {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    select {
      height: 70px;
      background-color: var(--color-white);
      border-radius: 5px;
      width: 100%;
    }
  }
}

.hl-blog-tile {
  max-width: 1000px;
  &__img {
    height: 300px;
    width: 100%;
    border: 1px solid #e9e9e9;
    &--big {
      height: 386px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
    }
  }
  p {
    display: block;
    display: -webkit-box;
    height: 92px;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .no-clamb {
    height: auto;
    line-clamp: unset;
    text-overflow: unset;
    -webkit-line-clamp: unset;
  }
}

.hl-list {
  li {
    position: relative;
    padding-left: 50px;
    margin-bottom: 25px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-image: url('data:image/svg+xml,<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 33.9999C7.94442 33.9999 5.34722 32.9305 3.20835 30.7916C1.06945 28.6527 0 26.0555 0 23V11C0 7.94442 1.06945 5.34722 3.20835 3.20835C5.34722 1.06945 7.94442 0 11 0H23C26.0555 0 28.6527 1.06945 30.7915 3.20835C32.9304 5.34722 33.9999 7.94442 33.9999 11V23C33.9999 26.0555 32.9304 28.6527 30.7915 30.7916C28.6527 32.9305 26.0555 33.9999 23 33.9999H11ZM15 24.3076L26.3076 13L24.2 10.8923L15 20.0923L10.6 15.6923L8.4923 17.8L15 24.3076ZM11 31H23C25.2 31 27.0833 30.2166 28.65 28.65C30.2166 27.0833 31 25.2 31 23V11C31 8.79995 30.2166 6.91662 28.65 5.34995C27.0833 3.78328 25.2 2.99995 23 2.99995H11C8.79995 2.99995 6.91662 3.78328 5.34995 5.34995C3.78328 6.91662 2.99995 8.79995 2.99995 11V23C2.99995 25.2 3.78328 27.0833 5.34995 28.65C6.91662 30.2166 8.79995 31 11 31Z" fill="%23FFB017"/></svg>');
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

.hl-accordion {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  .accordion-item {
    box-shadow: 0px 0px 20px 0px rgba(41, 45, 50, 0.06);
    margin-bottom: 16px;
    border: 0;
    border-radius: 20px;
    padding: 50px;
  }
  .accordion-button {
    padding: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-black);
  }
  .accordion-body {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1024px) {
  // Font Size
  .size-60 {
    font-size: 40px;
  }
  .size-64 {
    font-size: 54px;
  }
  .size-54 {
    font-size: 40px;
  }
  .size-50 {
    font-size: 40px;
  }
  .size-45 {
    font-size: 35px;
  }
  .size-40 {
    font-size: 30px;
  }
  .size-32 {
    font-size: 26px;
  }
  .size-30 {
    font-size: 24px;
  }
  .size-26 {
    font-size: 21px;
  }
  .size-20 {
    font-size: 18px;
  }
  .size-18 {
    font-size: 16px;
  }
  .size-17 {
    font-size: 15px;
  }

  .pt-150 {
    padding-top: 100px;
  }
  .pt-100 {
    padding-top: 60px;
  }
  .pb-150 {
    padding-bottom: 100px;
  }
  .pb-100 {
    padding-bottom: 60px;
  }
  .mt-150 {
    margin-top: 100px;
  }
  .mt-100 {
    margin-top: 60px;
  }
  .mb-150 {
    margin-bottom: 100px;
  }
  .mb-100 {
    margin-bottom: 60px;
  }

  .hl-box {
    padding: 24px;
  }
  .hl-blue-box {
    padding: 24px;
    min-height: 150px;
  }
  .hl-tile__icon {
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .hl-btn--big {
    min-width: 150px;
    padding: 0 28px;
  }
  // Font Size
  .size-60 {
    font-size: 30px;
  }
  .size-64 {
    font-size: 45px;
  }
  .size-54 {
    font-size: 35px;
  }
  .size-50 {
    font-size: 35px;
  }
  .size-16 {
    font-size: 14px;
  }
  .hl-box {
    padding: 20px;
  }
  .hl-tile--hover:hover::after {
    left: -16px;
    width: calc(100% + 32px);
    top: -16px;
    height: calc(100% + 32px);
    border-radius: 18px;
  }
  .hl-blue-box {
    padding: 20px;
    min-height: 130px;
  }

  .hl-blog-tile {
    &__img {
      height: 250px;
      &--big {
        height: 250px;
      }
    }
  }
  .pt-150 {
    padding-top: 60px;
  }
  .pt-100 {
    padding-top: 40px;
  }
  .pb-150 {
    padding-bottom: 60px;
  }
  .pb-100 {
    padding-bottom: 40px;
  }
  .mt-150 {
    margin-top: 60px;
  }
  .mt-100 {
    margin-top: 40px;
  }
  .mb-150 {
    margin-bottom: 60px;
  }
  .mb-100 {
    margin-bottom: 40px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .size-60 {
    font-size: 50px;
  }

  .hl-blue-box {
    min-height: 170px;
  }

  .pt-150 {
    padding-top: 120px;
  }
  .pt-100 {
    padding-top: 80px;
  }
  .pb-150 {
    padding-bottom: 120px;
  }
  .pb-100 {
    padding-bottom: 80px;
  }
  .mt-150 {
    margin-top: 120px;
  }
  .mt-100 {
    margin-top: 80px;
  }
  .mb-150 {
    margin-bottom: 120px;
  }
  .mb-100 {
    margin-bottom: 80px;
  }
}
