@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
img {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1740px !important;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}
body {
  font-size: 16px;
  background-color: var(--color-white);
  min-width: 320px;
  overflow-x: hidden;
  min-height: 100%;
  line-height: 1.4;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--color-black);
}

//
.hl-navbar {
  display: flex;
  align-items: center;
  height: 120px;
  transition: all 0.3s ease;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
  .navbar-nav {
    gap: 24px;
  }
  .nav-item {
    a:hover {
      color: var(--color-orange);
    }
  }
  &--fixed {
    background-color: var(--color-white);
    box-shadow: 2px 2px 15px #dfdfdf;
    height: 80px;
  }

  &__hamburger {
    .line {
      width: 40px;
      height: 3px;
      background-color: var(--color-grey);
      display: block;
      margin: 8px auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
      }
    }
    &.is-active {
      transition: all 0.3s ease-in-out;
      transition-delay: 0.6s;
      transform: rotate(45deg);
      .line:nth-child(2) {
        width: 0px;
      }

      line:nth-child(1),
      .line:nth-child(3) {
        transition-delay: 0.3s;
      }

      .line:nth-child(1) {
        transform: translateY(9px);
      }

      .line:nth-child(3) {
        transform: translateY(-13px) rotate(90deg);
      }
    }
  }

  .nav-link {
    color: var(--color-grey);
    font-size: 16px;
    &.active {
      color: var(--color-blue);
      font-weight: 600;
    }
  }
  .navbar-brand img {
    max-width: 137px;
    height: auto;
  }
}

.hl-acievemnets {
  .count::after {
    content: "+";
    display: inline-block;
  }
}
.hl-solutions {
  background-color: #f3f6fa;
  border-radius: 20px;
}

.hl__shadow {
  position: absolute;
  bottom: -56px;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.hl-testimonial {
  .splide {
    .hl-box {
      height: 100%;
    }
    &__track {
      padding-top: 100px;
      padding-bottom: 120px;
    }
    &__slide.is-active {
      box-shadow: 0px 40px 60px 0px rgba(41, 45, 50, 0.1);
      border-radius: 20px;
    }
  }
}
.splide {
  &__arrow {
    background-color: transparent;
    &--prev {
      left: -42px;
    }
    &--next {
      right: -42px;
    }
    &:disabled {
      display: none;
    }
  }
}
.accordion-body a {
  color: var(--color-blue);
  text-decoration: underline;
}

.graphics-1 {
  position: absolute;
  right: -100px;
  top: 33px;
  svg {
    height: auto;
  }
}
.graphics-2 {
  position: absolute;
  left: 100px;
  top: -56px;
  svg {
    height: auto;
  }
}
.h-text {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  text-align: center;
  svg {
    max-width: 100%;
    height: auto;
  }
}
.h-text-full {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  text-align: center;
  overflow: hidden;
  svg {
    height: auto;
  }
}

.hl-banner {
  display: flex;
  padding-top: 120px;

  position: relative;
  z-index: 3;
  &__left {
    width: 100%;
  }
  &__right {
    width: 100%;
  }
  &__title {
    font-size: 65px;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 40px;
    max-width: 500px;
  }
  &__desc {
    display: flex;
    align-items: flex-start;
    color: var(--color-grey);
    font-weight: 500;
    font-size: 16px;
    span {
      max-width: 210px;
      flex-shrink: 0;
    }
    svg {
      margin-right: 8px;
    }
  }
  &__splide {
    margin-bottom: -96px;
    .splide {
      &__pagination__page {
        background-color: #f9e6b3;
        border-radius: 0;
        height: 40px;
        width: 3px;
        margin: 0;
        opacity: 1;
        display: block;
        border-radius: 10px;
        position: relative;
        &::before {
          content: "01";
          position: absolute;
          font-size: 30px;
          color: var(--color-orange);
          width: 44px;
          height: 26px;
          top: 50%;
          transform: translateY(-50%);
          right: 8px;
          display: none;
        }
        &.is-active {
          background-color: var(--color-orange);
          transform: none;
          &::before {
            display: block;
          }
        }
      }
      &__track {
        padding-bottom: 50px;
      }
      &__pagination {
        display: flex;
        flex-direction: column;
        left: auto;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);

        li:nth-child(2) {
          .splide {
            &__pagination__page::before {
              content: "02";
            }
          }
        }
        li:nth-child(3) {
          .splide {
            &__pagination__page::before {
              content: "03";
            }
          }
        }
        li:nth-child(4) {
          .splide {
            &__pagination__page::before {
              content: "04";
            }
          }
        }
        li:nth-child(5) {
          .splide {
            &__pagination__page::before {
              content: "05";
            }
          }
        }
      }
    }
  }
}

.hl-trusted-by {
  .splide {
    &__slide {
      svg {
        path {
          fill: #d4d6d8;
          transition: all 0.3s ease;
        }
      }
      &:hover {
        svg {
          path {
            fill: var(--color-blue);
          }
        }
      }
      img {
        max-width: 150px !important;
        height: auto;
      }
    }
  }
}

.hl-contact-us {
  padding: 70px;
  p {
    color: #bbd7ff;
    margin-bottom: 8px;
    font-size: 18px;
  }
  input[type="text"],
  input[type="number"],
  input[type="email"],
  textarea {
    background-color: transparent;
    border: 0;
    font-size: 17px;
    color: var(--color-white);
    border-bottom: 1px solid var(--color-white);
    margin-bottom: 50px;
    &:focus {
      outline: none;
    }
  }
  textarea {
    height: 60px;
  }
}

.hl-footer {
  background-color: var(--color-black);
  padding-top: 160px;
  position: relative;
  z-index: 10;
  margin-top: 240px;
  display: block;
  .hl-blue-box {
    margin-top: -250px;
  }
  &__social {
    li {
      &:hover svg path {
        fill: var(--color-orange);
      }
    }
  }
  &__contents {
    padding: 50px 0;
    border-top: 1px solid #515965;
    border-bottom: 1px solid #515965;
  }
  &__left {
    max-width: 520px;
    padding-right: 150px;
    color: var(--color-grey);
  }
  &__right {
    gap: 50px;
  }
  &__menu-links {
    li {
      margin-top: 16px;
    }
    a {
      color: var(--color-grey);
      font-size: 14px;
      &:hover {
        color: var(--color-orange);
      }
    }
  }
  &__copy {
    a:hover {
      color: var(--color-orange);
    }
  }
}

.hl-vision {
  padding: 120px 50px;
}

.hl-milestones {
  .nav-tabs {
    border: 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-top: 17px;
    &::after {
      content: "";
      background: rgba(1, 105, 253, 0.1);
      height: 5px;
      width: calc(100% - 77px);
      position: absolute;
      left: 38px;
    }
  }
  .nav-item {
    position: relative;
    top: -15px;
  }
  .nav-link {
    position: relative;
    padding-top: 35px;
    font-size: 25px;
    color: var(--color-grey);
    border: 0;
    background-color: transparent;
    &:hover {
      border: 0;
      opacity: 1;
      z-index: 2;
      background-color: transparent;
    }
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      background-color: #d9d9d9;
      display: inline-block;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 2;
    }
    &.active {
      border: none;
      color: var(--color-blue);
      font-weight: 600;
      &::before {
        background-color: var(--color-blue);
        width: 25px;
        height: 25px;
        top: 3px;
      }
    }
  }
}

.hl-technology {
  .nav-link {
    padding: 15px 40px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border: 0;
    color: var(--color-black);
    &.active {
      background-color: var(--color-blue);
      border: 0;
      color: var(--color-white);
    }
  }
  .nav-tabs {
    justify-content: center;
    border: 0;
    column-gap: 40px;
  }
  .tab-content {
    background-color: var(--color-white);
  }
  .tab-pane {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    .d-flex {
      column-gap: 120px;
      row-gap: 45px;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-end;
      img {
        width: auto;
        height: auto;
      }
    }
  }
}
.splide__list {
  height: auto;
}
.hl-dev-process {
  h3 {
    line-height: 25px;
  }
  p {
    line-height: 30px;
  }
}

.hl-partner {
  background-color: var(--color-blue);
  .hl-tile__icon svg path {
    fill: var(--color-orange);
}
}

.fa-star {
  font-size: 24px;
  color: var(--color-grey);
}
.checked {
  color: var(--color-blue);
}
.hl-scroll-spy-box {
  display: flex;
  column-gap: 24px;
  align-items: center;
  padding: 30px;
  &__img {
    width: 240px;
    flex-shrink: 0;
    border-radius: 12px;
    overflow: hidden;
  }
}
.scrollspy-links {
  border: 0;
  position: relative;
  &::before {
    content: "";
    width: 1px;
    background-color: #ffb017;
    position: absolute;
    left: 13px;
    top: 24px;
    height: calc(100% - 50px);
  }
  .list-group-item {
    background-color: transparent;
    border: 0;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
    color: #b0cbff;
    text-transform: capitalize;
    &::before {
      content: "";
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 2px solid #ffb017;
      background-color: var(--color-blue);
      display: inline-block;
      margin-right: 20px;
    }
    &.active {
      color: #ffb017;
      &::before {
        background-color: #ffb017;
      }
    }
  }
}
.scrollspy-content {
  height: 640px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 1024px) {
  .hl-dev-process-seo {
    .splide__list {
      display: flex !important;
      gap: 16px;
      flex-wrap: wrap;
      justify-content: center;
    }
    .splide__slide {
      width: calc(16.66% - 16px);
      flex-shrink: 0;
    }
  }
}
@media (max-width: 1024px) {
  .hl__shadow {
    bottom: -34px;
  }
  .graphics-1 {
    display: none;
  }
  .hl-contact-us {
    padding: 40px;
  }
  .hl-navbar {
    .navbar-collapse {
      position: absolute;
      left: 0;
      top: 100%;
      background-color: var(--color-white);
      width: 100%;
      padding: 10px 20px;
      box-shadow: 4px 19px 20px #e9e9e9;
    }
  }
  .hl-banner {
    display: block;
    padding-top: 80px;
    &__title {
      font-size: 60px;
      line-height: 75px;
      max-width: 473px;
    }
  }
  .hl-acievemnets {
    .count::after {
      content: "+";
      display: inline-block;
    }
    ul {
      gap: 20px !important;
      justify-content: center;
    }
  }
  .hl-technology {
    .nav-tabs {
      column-gap: 10px;
    }
  }
  .hl-vision {
    padding: 120px 30px 50px 30px;
  }
  .hl-testimonial {
    .splide__track {
      padding-top: 60px;
    }
  }
  .splide {
    &__arrow--next {
      right: 0;
    }
    &__arrow--prev {
      left: 0;
    }
  }
  .hl-footer {
    margin-top: 170px;
  }
  .hl-accordion {
    .accordion-item {
      padding: 30px;
    }
  }
}

@media (max-width: 767px) {
  .hl-h2 {
    svg {
      max-width: 150px;
      height: auto;
    }
  }
  .hl-contact-us {
    padding: 25px;
  }
  .hl-banner {
    padding-top: 50px;
    &__title {
      font-size: 40px;
      line-height: 55px;
    }
    &__right {
      margin-bottom: -24px;
    }
    &__splide {
      margin-bottom: -22px;
    }
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hl__shadow {
    bottom: -14px;
  }
  .hl-testimonial {
    .splide__arrows {
      display: none;
    }
  }
  .hl-navbar {
    .hl-btn--small {
      padding: 0 8px;
    }
  }
  .hl-footer {
    &__left {
      padding-right: 0;
    }
  }
  .hl-vision {
    padding: 120px 20px 50px 20px;
  }
  .hl-acievemnets ul {
    justify-content: flex-start;
  }
  .hl-technology {
    .nav-tabs {
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: flex-start;
      overflow-y: hidden;
      gap: 0;
    }
    .tab-pane .d-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    .nav-link {
      padding: 10px 21px;
    }
  }
  .hl-trusted-by {
    .splide__slide {
      svg {
        width: 150px;
        height: auto;
      }
    }
  }
  .hl-acievemnets {
    ul {
      flex-wrap: wrap;
    }
    li {
      max-width: calc(33.33% - 20px);
    }
  }
  .hl-milestones {
    .nav-link {
      font-size: 20px;
    }
  }
  .hl-accordion {
    .accordion-item {
      padding: 20px;
    }
  }
  .hl-scroll-spy-box {
    padding: 16px;
    align-items: flex-start;
    &__img {
      width: 100px;
    }
  }
  .scrollspy-content {
    height: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .hl-footer {
    &__left {
      max-width: 400px;
      padding-right: 50px;
    }
  }
  .hl-dev-process {
    .splide__slide svg {
      width: 40px;
      height: auto;
    }
  }
  .hl-banner {
    &__title {
      font-size: 75px;
      line-height: 80px;
    }
  }
}
